.meal-card{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
overflow: hidden;
padding-bottom: 20px;
border-radius: 10%;


    background-color: $color-1;
    text-decoration: none;
}


.meal-card img{
    width: 100%;

}
h2{
    color: white;
    font-size: 32px;
}
p{
    color: white;
    font-size: 12px;
}