.meal-card{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
padding-top: 20px;
padding-bottom: 20px;
    border: $color-1 3px solid;
    border-radius: 15%;
    background-color: $color-1;
}

.meal-card img{
    width: 90%;
    border-radius: 15%;
}
h2{
    color: white;
}
p{
    color: white;
    font-size: 12px;
}