.Recipee-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $color-1;
    padding: 50px 0;
    
    .meal-wrapper{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        .meal-container{
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;

            img{
                width: 50%;
                border-radius: 15% 15% 0% 15%;
                border: 2px solid white;
            }

            .info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                div{

                    h1{
                        
                        font-size: 48px;
                    }
                    p{
                        font-size: 32px;
                    }
                }
            }

            Embed{
                height: 100px;
            }

        }
        .ing{
            width: 100%;
            
            .ing-container{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                gap: 20px;
                
                .ingredients-container{
                    color: $color-1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 5%;
                    padding: 10px;
                    width: 220px;
                        
                        .ingimg{
                        width: 100px;
                        }

                        div{
                            display: flex;
                            gap: 0.3rem;
                            font-size: 12px;
                        }
                }
            
            }
        }
        .ins{
            h2{
                margin-bottom: 50px;
            }
        }
    }
}