.Recipee{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
    
    .Recipee-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $color-1;
        padding: 50px 0;
        
        .meal-wrapper{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 50px;
            
            .meal-container{
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: 50px;

                img{
                    width: 50%;
                    border-radius: 15% 15% 0% 15%;
                    border: 2px solid white;
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                }
    
                Embed{
                    height: 100px;
                }

            }
            .ing{
                h2{
                    margin-bottom: 50px;
                }
                .ing-container{
                    display: flex;
                    flex-flow: row wrap;
                    gap: 20px;

                    .ingredients-container{
                    display: flex;
                    align-items: flex-start;
                    
                    flex-direction: column;
                        .ingimg{
                        width: 100px;
                        }
                    }
                
                }
            }
            .ins{
                h2{
                    margin-bottom: 50px;
                }
            }
        }
    }
}